<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.cari.voip.keyboard.soft.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.cari.voip.keyboard.soft.perspectives.CurrentPerspective"
            id="com.cari.voip.keyboard.soft.perspectives.CurrentPerspective"
            name="调度界面">
      </perspective>
      <perspective
            class="com.cari.voip.keyboard.soft.perspectives.CDRPerspective"
            icon="icons/flatLayout(1).gif"
            id="com.cari.voip.keyboard.soft.perspectives.CDRPerspective"
            name="呼叫记录">
      </perspective>
      <perspective
            class="com.cari.voip.keyboard.soft.perspectives.WebPerspective"
            icon="icons/discovery.gif"
            id="com.cari.voip.keyboard.soft.perspectives.webPerspective"
            name="WEB网管">
      </perspective>
      <perspective
            class="com.cari.voip.keyboard.soft.perspectives.VRPerspective"
            icon="icons/flatLayout(1).gif"
            id="com.cari.voip.keyboard.soft.perspectives.VRPerspective"
            name="录音记录">
      </perspective>
      <perspective
            class="com.cari.voip.keyboard.soft.perspectives.smsPerspective"
            icon="icons/flatLayout(1).gif"
            id="com.cari.voip.keyboard.soft.perspectives.smsPerspective"
            name="短信记录">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cari.voip.keyboard.soft.application"
            name="IP电话调度通信系统控制台">
         <property
               name="appName"
               value="IP电话调度通信系统控制台">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="调度软键盘&#x0A;	版本: 1.0.0&#x0A;	&#x0A;&#x0A;	(c) CARI gj. All Rights Reserved.">
         </property>
         <property
               name="windowImages"
               value="icons/item16.png,icons/item32.png,icons/item48.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.cari.voip.keyboard.soft.editors.GatewayEditor"
            default="false"
            id="com.cari.voip.keyboard.soft.editors.gatewayEditor"
            name="com.cari.voip.keyboard.soft.editors.gatewayEditor">
      </editor>
      <editor
            class="com.cari.voip.keyboard.soft.editors.LocalEditor"
            default="false"
            id="com.cari.voip.keyboard.soft.editors.localEditor"
            name="com.cari.voip.keyboard.soft.editors.localEditor">
      </editor>
      <editor
            class="com.cari.voip.keyboard.soft.editors.SwitchUserGraphicalEditor"
            default="false"
            icon="icons/genericreggroup_obj.gif"
            id="com.cari.voip.keyboard.soft.editors.SwitchUserGraphicalEditor"
            name="用户">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.cari.voip.keyboard.soft.category.current"
            name="current">
      </category>
      <category
            id="com.cari.voip.keyboard.soft.cdr"
            name="cdr">
      </category>
      <category
            id="com.cari.voip.keyboard.soft.category.webBrowser"
            name="webBrowser">
      </category>
      <view
            category="com.cari.voip.keyboard.soft.category.current"
            class="com.cari.voip.keyboard.soft.views.ControllerView"
            icon="icons/category_obj.gif"
            id="com.cari.voip.keyboard.soft.views.ControllerView"
            name="调度键"
            restorable="true">
      </view>
      <view
            category="com.cari.voip.keyboard.soft.category.current"
            class="com.cari.voip.keyboard.soft.views.DialView"
            icon="icons/brkp_type.gif"
            id="com.cari.voip.keyboard.soft.views.DialView"
            name="拨号"
            restorable="true">
      </view>
      <view
            category="com.cari.voip.keyboard.soft.category.current"
            class="com.cari.voip.keyboard.soft.views.StatusView"
            icon="icons/showchild_mode(1).gif"
            id="com.cari.voip.keyboard.soft.views.StatusView"
            name="本地用户"
            restorable="true">
      </view>
      <view
            category="com.cari.voip.keyboard.soft.category.current"
            class="com.cari.voip.keyboard.soft.views.EventView"
            icon="icons/call_hierarchy.gif"
            id="com.cari.voip.keyboard.soft.views.EventView"
            name="事件"
            restorable="true">
      </view>
      <view
            category="com.cari.voip.keyboard.soft.cdr"
            class="com.cari.voip.keyboard.soft.views.CDRView"
            icon="icons/flatLayout(1).gif"
            id="com.cari.voip.keyboard.soft.views.CDRView"
            name="呼叫记录"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="com.cari.voip.keyboard.soft.category.webBrowser"
            class="com.cari.voip.keyboard.soft.views.WebBrowserView"
            icon="icons/att_file_obj.gif"
            id="com.cari.voip.keyboard.soft.views.WebBrowserView"
            name="网管页面"
            restorable="true">
      </view>
      <view
            category="com.cari.voip.keyboard.soft.category.webBrowser"
            class="com.cari.voip.keyboard.soft.views.BookMarksView"
            icon="icons/bookmarks_view.gif"
            id="com.cari.voip.keyboard.soft.views.BookMarksView"
            name="设备"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.cari.voip.keyboard.soft.views.GraphNodeView"
            icon="icons/genericreggroup_obj.gif"
            id="com.cari.voip.keyboard.soft.views.GraphNodeView"
            name="本地所有用户"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="com.cari.voip.keyboard.soft.views.GraphGroupView"
            icon="icons/group.png"
            id="com.cari.voip.keyboard.soft.views.GraphGroupView"
            name="网关"
            restorable="true">
      </view>
      <view
            category="com.cari.voip.keyboard.soft.cdr"
            class="com.cari.voip.keyboard.soft.views.VRView"
            icon="icons/flatLayout(1).gif"
            id="com.cari.voip.keyboard.soft.views.VRView"
            name="录音记录"
            restorable="true">
      </view>
      <view
            category="com.cari.voip.keyboard.soft.category.current"
            class="com.cari.voip.keyboard.soft.views.MsgView"
            icon="icons/msg.gif"
            id="com.cari.voip.keyboard.soft.views.MsgView"
            name="短信"
            restorable="true">
      </view>
      <view
            category="com.cari.voip.keyboard.soft.cdr"
            class="com.cari.voip.keyboard.soft.views.smsView"
            icon="icons/flatLayout(1).gif"
            id="com.cari.voip.keyboard.soft.views.smsView"
            name="短信记录"
            restorable="true">
      </view>
      <view
            category="com.cari.voip.keyboard.soft.category.current"
            class="com.cari.voip.keyboard.soft.views.CallFailView"
            icon="icons/status_busy.png"
            id="com.cari.voip.keyboard.soft.views.CallFailView"
            name="调度未接来电"
            restorable="true">
      </view>
      <view
            category="com.cari.voip.keyboard.soft.category.current"
            class="com.cari.voip.keyboard.soft.views.CallProgressView"
            icon="icons/status_online.png"
            id="com.cari.voip.keyboard.soft.views.CallProgressView"
            name="呼叫调度"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="com.cari.voip.keyboard.soft.myWorkbenchPresentationFactory"
            id="com.cari.voip.keyboard.soft.myWorkbenchPresentationFactory"
            name="myWorkbenchPresentationFactory">
      </factory>
   </extension>
	
</plugin>
